@tailwind base;
@tailwind components;
@tailwind utilities;

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

::-webkit-scrollbar {
width: 8px;
height: 8px;
}

::-webkit-scrollbar-track {
background-color: #b2c9de;
}

/* Handle */
::-webkit-scrollbar-thumb {
background-color: #6889a5;
border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
background-color: #456d91;
}

.custom-botton::before {
  content: "";
  display: block;
  width: 40px; /* Adjust width as needed */
  height: 100%;
  background-color: #d33a2c;
  transform: skewX(-20deg);
  position: absolute;
  top: 0;
  right: -20px; /* Adjust based on the width */
}

.custom-botton:hover::before {
  background-color: #f8c194; /* Change to the desired hover color */
}

.custom-botton::after {
  background: url("/button-arrow.svg") 100% no-repeat;
  content: "";
  display: block;
  width: 10rem; /* Adjust width as needed */
  height: 5rem;
  position: absolute;
  top: -20px;
  right: -80px;

}

.custom-botton:hover::after {
  background: url("/button-arrow-hover.svg") 100% no-repeat;
}


  

